Цель: реализовать базовый анализ датасета:
Датасеты не должны повторяться
Вывести весь датасет и опишите его
Вывести размерноть массива
Вывести наименование всех колонок, написать что они означают в вашем датасете
Вывести все уникальные значения
Отсортировать по определенным параметрам
Удалить ненужные столбцы или строчки 
Заменить определенные значения в датасете (например, пустые)
Удалить дубликаты
Провести анализ с помощью функций info
Провести анализ с помощью функций describe
Провести выборку данных по строкам и столбцам с помощью loc
Сохранить новый датасет
Сделать вывод по каждому пункту и описать все

В первой строке импортируется библиотека pandas с помощью команды "import pandas as pd". 

Во второй строке используется функция "read_csv()" из pandas для чтения файла CSV. Мы передаем путь к файлу "c:\\users\\user\\downloads\\sets.csv" в качестве аргумента функции. Функция автоматически загружает содержимое файла и преобразует его в структуру данных, называемую DataFrame. 

Затем результат чтения файла сохраняется в переменной "sets".

In [4]:
import pandas as pd

sets = pd.read_csv(r"C:\Users\user\Downloads\sets.csv")

sets

,Set_ID,Name,Year,Theme,Theme_Group,Subtheme,Category,Packaging,Num_Instructions,Availability,Pieces,Minifigures,Owned,Rating,USD_MSRP,Total_Quantity,Current_Price
0,75-1,PreSchool Set,1975,PreSchool,Pre-school,NaN,Normal,{Not specified},0,{Not specified},16.0,NaN,10.0,0.0,NaN,NaN,NaN
1,77-1,PreSchool Set,1975,PreSchool,Pre-school,NaN,Normal,{Not specified},0,{Not specified},20.0,NaN,11.0,0.0,NaN,NaN,NaN
2,077-1,Pre-School Set,1975,Duplo,Pre-school,NaN,Normal,{Not specified},0,{Not specified},21.0,NaN,10.0,0.0,NaN,0.0,NaN
3,78-1,PreSchool Set,1975,PreSchool,Pre-school,NaN,Normal,{Not specified},0,{Not specified},32.0,NaN,8.0,0.0,NaN,NaN,NaN
4,78-3,Basic Set,1975,Samsonite,Vintage,Basic set,Normal,Box,0,{Not specified},330.0,NaN,10.0,0.0,NaN,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14931,854242-1,Creeper Key Chain,2023,Gear,Miscellaneous,Key Chains/Minecraft,Gear,Tag,0,LEGO exclusive,NaN,NaN,2.0,0.0,5.99,NaN,NaN
14932,854243-1,Steve Key Chain,2023,Gear,Miscellaneous,Key Chains/Minecraft,Gear,Tag,0,LEGO exclusive,NaN,NaN,2.0,0.0,5.99,NaN,NaN
14933,854244-1,Piglin Key Chain,2023,Gear,Miscellaneous,Key Chains/Minecraft,Gear,Tag,0,LEGO exclusive,NaN,NaN,2.0,0.0,5.99,NaN,NaN
14934,854245-1,Fennec Shand Key Chain,2023,Gear,Miscellaneous,Key Chains/Star Wars,Gear,Tag,0,LEGO exclusive,NaN,NaN,88.0,0.0,5.99,NaN,NaN
14935,854246-1,Scout Trooper Key Chain,2023,Gear,Miscellaneous,Key Chains/Star Wars,Gear,Tag,0,LEGO exclusive,NaN,NaN,107.0,0.0,5.99,NaN,NaN

Размерность массива 14936 строк на 17 столбцов, мы это получили с помощью атрибута shape.

In [7]:
sets.shape

(14936, 17)

Благодаря атрибуту columns мы получили массив с наименованием наших колонок. Названия столбцов, которые извлекаются с помощью метода index(), перечислены в строке после "index()". В приведенном коде это: 'set_id', 'name', 'year', 'theme', 'theme_group', 'subtheme', 'category', 'packaging', 'num_instructions', 'availability', 'pieces', 'minifigures', 'owned', 'rating', 'usd_msrp', 'total_quantity', 'current_price'.

In [8]:
print(sets.columns)

Index(['Set_ID', 'Name', 'Year', 'Theme', 'Theme_Group', 'Subtheme',
       'Category', 'Packaging', 'Num_Instructions', 'Availability', 'Pieces',
       'Minifigures', 'Owned', 'Rating', 'USD_MSRP', 'Total_Quantity',
       'Current_Price'],
      dtype='object')

Благодаря атрибуту nunique мы получили все уникальные значение из датасета.

In [9]:
print(sets.nunique())

Set_ID              14936
Name                12372
Year                   49
Theme                 155
Theme_Group            16
Subtheme              783
Category                7
Packaging              17
Num_Instructions       27
Availability           10
Pieces               1372
Minifigures            31
Owned                5340
Rating                 30
USD_MSRP              118
Total_Quantity        154
Current_Price        2063
dtype: int64

Данный код используется для фильтрации набора данных (DataFrame) "sets". Он сохраняет только те строки, где значение в столбце "year" больше 1975.

In [10]:
sets = sets[sets['Year'] > 1975]

1. sets = sets.drop('category', axis = 1) - эта строка удаляет столбец с названием 'category' из DataFrame sets. Опция axis = 1 указывает, что мы хотим удалить столбец, а не строку.
2. sets = sets[sets['pieces'] != 'nan'] - эта строка фильтрует DataFrame sets, оставляя только те строки, где значение в столбце 'pieces' не равно 'nan'. Знак != означает "не равно". Таким образом, строки с 'nan' в столбце 'pieces' будут исключены из DataFrame sets. Результат этого фильтрации затем присваивается обратно переменной sets.

In [11]:
sets = sets.drop('Category', axis = 1)
sets = sets[sets['Pieces'] != 'NaN']

Благодаря данной функции мы выполняем замену значений столбца 'total_quantity' в DataFrame sets. Все значения 'nan' заменяются на строку 'not specified'.

In [12]:
sets['Total_Quantity'] = sets['Total_Quantity'].replace('NaN', 'Not Spoecified')

Метод drop_duplicates() используется для удаления дублирующихся строк из DataFrame'а. В данном случае, мы указываем в аргументе subset=['name'], что нужно проверять уникальность только по столбцу name. То есть, все строки, в которых значение в столбце name повторяется, будут удалены из DataFrame'a. 

После выполнения этого кода, DataFrame sets будет содержать только уникальные строки по столбцу name.

In [13]:
sets = sets.drop_duplicates(subset=['Name'])

info() выводит информацию в следующем формате:

Количество непустых значений в каждом столбце.

Тип данных каждого столбца.

Общее количество столбцов.

Количество использованной памяти.

In [15]:
sets.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12347 entries, 45 to 14935
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Set_ID            12347 non-null  object
 1   Name              12347 non-null  object
 2   Year              12347 non-null  int64
 3   Theme             12347 non-null  object
 4   Theme_Group       12326 non-null  object
 5   Subtheme          9699 non-null   object
 6   Packaging         12347 non-null  object
 7   Num_Instructions  12347 non-null  int64
 8   Availability      12347 non-null  object
 9   Pieces            10835 non-null  float64
 10  Minifigures       6604 non-null   float64
 11  Owned             12264 non-null  float64
 12  Rating            12347 non-null  float64
 13  USD_MSRP          5045 non-null   float64
 14  Total_Quantity    10148 non-null  float64
 15  Current_Price     4667 non-null   float64
dtypes: float64(7), int64(2), object(7)
memory usage: 1.6+ MB

Метод describe() предоставляет статистическое описание числовых данных в DataFrame.
Этот метод возвращает основные статистические показатели для каждого числового
столбца, такие как количество, среднее значение, стандартное отклонение, минимальное и
максимальное значения, медиана и квартили.

In [16]:
sets.describe()

,Year,Num_Instructions,Pieces,Minifigures,Owned,Rating,USD_MSRP,Total_Quantity,Current_Price
count,12347.000000,12347.000000,10835.000000,6604.000000,12264.000000,12347.000000,5045.000000,10148.000000,4667.000000
mean,2007.135741,1.241273,237.015874,2.657177,2093.965183,1.909719,38.554353,4.726646,90.053981
std,11.337247,2.121840,470.520101,2.725012,2955.935375,1.955081,51.822233,18.971063,200.124788
min,1976.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.490000,0.000000,0.050000
25%,2000.000000,0.000000,25.000000,1.000000,102.000000,0.000000,9.990000,0.000000,15.119500
50%,2009.000000,0.000000,80.000000,2.000000,843.000000,0.000000,19.990000,0.000000,36.080000
75%,2016.000000,2.000000,262.500000,3.000000,2927.000000,3.900000,49.990000,3.000000,90.000000
max,2023.000000,48.000000,11695.000000,36.000000,29429.000000,4.900000,679.990000,483.000000,5499.990000

Далее делаем обновление данных с использованием loc

In [17]:
sets.loc[:, 'Name':'Total_Quantity']

,Name,Year,Theme,Theme_Group,Subtheme,Packaging,Num_Instructions,Availability,Pieces,Minifigures,Owned,Rating,USD_MSRP,Total_Quantity
45,"Basic Building Set, 3+",1976,Basic,Basic,NaN,{Not specified},0,{Not specified},152.0,NaN,135.0,0.0,NaN,0.0
50,Basic Set,1976,Samsonite,Vintage,Basic set,{Not specified},0,{Not specified},291.0,NaN,15.0,0.0,NaN,0.0
51,PreSchool Set,1976,PreSchool,Pre-school,NaN,{Not specified},0,{Not specified},20.0,NaN,10.0,0.0,NaN,NaN
52,Police Station,1976,PreSchool,Pre-school,NaN,{Not specified},0,{Not specified},28.0,4.0,31.0,0.0,NaN,0.0
53,Train Station,1976,PreSchool,Pre-school,NaN,{Not specified},0,{Not specified},53.0,5.0,14.0,0.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14931,Creeper Key Chain,2023,Gear,Miscellaneous,Key Chains/Minecraft,Tag,0,LEGO exclusive,NaN,NaN,2.0,0.0,5.99,NaN
14932,Steve Key Chain,2023,Gear,Miscellaneous,Key Chains/Minecraft,Tag,0,LEGO exclusive,NaN,NaN,2.0,0.0,5.99,NaN
14933,Piglin Key Chain,2023,Gear,Miscellaneous,Key Chains/Minecraft,Tag,0,LEGO exclusive,NaN,NaN,2.0,0.0,5.99,NaN
14934,Fennec Shand Key Chain,2023,Gear,Miscellaneous,Key Chains/Star Wars,Tag,0,LEGO exclusive,NaN,NaN,88.0,0.0,5.99,NaN
14935,Scout Trooper Key Chain,2023,Gear,Miscellaneous,Key Chains/Star Wars,Tag,0,LEGO exclusive,NaN,NaN,107.0,0.0,5.99,NaN

Далее сохраняем данные из
DataFrame в файл CSV (Comma-Separated Values) с помощью метода to_csv в библиотеке Pandas. Этот метод позволяет
сохранить структурированные данные в формате, который легко читать и
обрабатывать

In [20]:
sets.to_csv(r"C:\Users\user\OneDrive\Рабочий стол\Лекции\Новелла питон.csv")

Вывод: Был реализован следующий базовый анализ датасета:
Датасеты не должны повторяться
Вывести весь датасет и опишите его
Вывести размерноть массива
Вывести наименование всех колонок, написать что они означают в вашем датасете
Вывести все уникальные значения
Отсортировать по определенным параметрам
Удалить ненужные столбцы или строчки 
Заменить определенные значения в датасете (например, пустые)
Удалить дубликаты
Провести анализ с помощью функций info
Провести анализ с помощью функций describe
Провести выборку данных по строкам и столбцам с помощью loc
Сохранить новый датасет
Сделать вывод по каждому пункту и описать все.

Спасибо что прочитали :)
ХОРОШЕГО ВАМ ДНЯ!)